@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Rowdies:wght@300&display=swap');

.meus-filmes {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;

}

.meus-filmes .salvo {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #f39256;
}


.meus-filmes span {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}


.meus-filmes ul {
    width: 720px;
}

.meus-filmes ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meus-filmes div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a {
    text-decoration: none;
    color: #f39256;
    margin-right: 14px
}

.meus-filmes button {
    cursor: pointer;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    padding: 3px 8px;
    border: none;
    border-radius: 8px;
    background-color:#fff;
    color: #252537;;
}

.meus-filmes button:hover {
    background-color: red;
    color: #fff;
}


/* Adicionando media queries */
@media only screen and (min-width: 320px) and (max-width: 1280px) {
    .meus-filmes h1 {
        width: 100%; 
        padding: 0 30px;
        font-size: 27px;
    }
    .meus-filmes ul {
        width: 100%; 
        padding: 0 30px; 
    }

    .meus-filmes ul li {
        margin-bottom: 10px; 
        flex-wrap: wrap; 
    }

    .meus-filmes ul li div {
        margin-right: 8px; 
        flex-basis: 50%; 
    }

    .meus-filmes div a {
        margin-right: 8px; 
    }
}